
<% unless user_signed_in? %>
<br>
<br>
<br>
<br>
<br>
<br>

  <div class="container ">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <div class="card" style="width: 30rem;">
        <img  style="width: 300px" src="<%= image_path 'notregistered' %>" alt="">
        <div class="card-body">
          <br>
          <h5 class="card-title" style="text-align:center">Usuario Nuevo</h5>
          <p class="card-text" style="text-align:center">Regístrate para empezar tu práctica!</p>
          <br>
          <div class="col-md-4">

          </div>
          <button type="" class="btn btn-theme"><%= link_to 'Regístrate', new_user_registration_path %></button>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <div class="card" style="width: 30rem;">
          <img  style="width: 300px" src="<%= image_path 'registered' %>" alt="">
        <div class="card-body">
          <br>
          <h5 class="card-title" style="text-align:center">Usuario Registrado</h5>
          <p class="card-text" style="text-align:center"> Si ya estas registrado ingresa a tu cuenta!</p>
          <br>
          <div class="col-md-4">
          </div>
          <button type="" class="btn btn-theme" ><%= link_to 'Ingresa', user_session_path %></button>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

<% end %>




<section id="footer" class="section footer">
  <div class="col-md-2">

  </div>

  <div class="col-md-4" style="background:white; opacity:0.75; border-radius:25px;margin-top: 35px">
    <br>

    <h4 style="padding-left:5%">Próximas fechas de rendición!</h4>

    <table class="table">
         <thead class="thead-dark">
           <tr>
             <th scope="col"></th>
             <th scope="col">Fecha</th>
             <th scope="col">Incripciones hasta</th>
             <th scope="col">Resultados</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <th scope="row">1</th>
             <td>23 - 03 -2019  </td>
             <td>24 - 01 - 2019</td>
             <td>23 - 04 - 2019</td>
           </tr>
           <tr>
             <th scope="row">2</th>
             <td>13 - 07 -2019  </td>
             <td>16 - 06 - 2019</td>
             <td>13 - 08 - 2019</td>
           </tr>
           <tr>
             <th scope="row">3</th>
             <td>01 - 12 -2019  </td>
             <td>03 - 11 - 2019</td>
             <td>01 - 01 - 2020</td>
           </tr>
         </tbody>
        </table>

  </div>

  <div class="col-md-2">
    <img  style="width: 500px" src="<%= image_path 'hsktest' %>" alt="">
  </div>


  <div class="container">
    <br>
    <br>
    <br>
    <div class="row animated opacity mar-bot20" data-andown="fadeIn" data-animation="animation">
      <div class="col-sm-12 align-center">
                  <ul class="social-network social-circle">
                      <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                      <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                      <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
      </div>
    </div>


  </div>

</section>

<script>
  document.getElementById("panda-header").classList.remove('hide');

</script>
