
<br>
<br>
<br>
<br>
<br>
<br>


<div class="container">
  <div class="col-md-1" style="margin-left:-1%">

  </div>
  <div class="row">

    <div class="col-md-6">
      <div class="show-box">

        <div style="margin-left:40px, margin-rigth:40px">
          <% @pinyin.each do |i| %>
          <%= render 'box-button', text:i.pinyin, value:i.word_id %>
          <% end %>
        </div>
        <br>
        <br>
        <br>
        <br>
      <div class="word-box">
        <h1 style="padding-left: 30px"><span id="word-check" data-value="<%= @word.id %>" style="font-size:80px"> <%= @word.word %></span></h1>
      </div>
        <br>
        <br>
        <br>
        <br>
      <div style="margin-left:40px, margin-rigth:40px">
        <% @meaning.each do |i| %>
        <%= render 'box-button', text:i.meaning, value:i.word_id %>
        <% end %>
      </div>
        <br>
        <br>
        <br>
        <button type="button" name="button" id="next-button" class="btn btn-info">NEXT</button>

      </div>
    </div>
  </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>

<div class="">
  <%= @playerScore %>
</div>

<section id="footer" class="section footer">
  <div class="col-md-2">

  </div>

  <div class="col-md-4" style="background:white; opacity:0.75; border-radius:25px;margin-top: 35px">
    <br>

    <h4 style="padding-left:5%">Próximas fechas de rendición!</h4>

    <table class="table">
         <thead class="thead-dark">
           <tr>
             <th scope="col"></th>
             <th scope="col">Fecha</th>
             <th scope="col">Incripciones hasta</th>
             <th scope="col">Resultados</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <th scope="row">1</th>
             <td>23 - 03 -2019  </td>
             <td>24 - 01 - 2019</td>
             <td>23 - 04 - 2019</td>
           </tr>
           <tr>
             <th scope="row">2</th>
             <td>13 - 07 -2019  </td>
             <td>16 - 06 - 2019</td>
             <td>13 - 08 - 2019</td>
           </tr>
           <tr>
             <th scope="row">3</th>
             <td>01 - 12 -2019  </td>
             <td>03 - 11 - 2019</td>
             <td>01 - 01 - 2020</td>
           </tr>
         </tbody>
        </table>

  </div>

  <div class="col-md-2">
    <img  style="width: 500px" src="<%= image_path 'hsktest' %>" alt="">
  </div>


  <div class="container">
    <br>
    <br>
    <br>
    <div class="row animated opacity mar-bot20" data-andown="fadeIn" data-animation="animation">
      <div class="col-sm-12 align-center">
                  <ul class="social-network social-circle">
                      <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                      <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                      <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
      </div>
    </div>


  </div>

</section>

<script>

  let nextButton = document.getElementById('next-button');
  var playerScore = 0;

  nextButton.addEventListener('click', function(){


    $.ajax({
      url: '<%= activities_next_check_path %>',
      type: 'POST',
      dataType: 'script',
      data: {param1: 'correct'}
    })
    .done(function() {
      console.log("success");
    })
    .fail(function() {
      console.log("error");
    })
    .always(function() {
      console.log("complete");
    });

  });

  let pinyinButton = document.getElementsByClassName('box-button');
  let meaningButton = document.getElementsByClassName('box-button2');
  let pinyinCheck = document.getElementById('pinyin-check');


  $(".box-button").one('click', function(e){


    if (e.currentTarget.dataset.value == $('#word-check').data('value')) {

      var correct = e.currentTarget.style.backgroundColor = '#9DCF52';
      correct;

    }else{

      var wrong = e.currentTarget.style.backgroundColor = '#FF673F';
      wrong;
    }
});






</script>
