
<div style="">

  <% @pinyin.each do |i| %>
    <div class="pinyin-box" id="<%= i.word_id %>">
      <%= i.pinyin %>
    </div>
  <% end %>



  <div class="word-box">
    <h5><%= @word.word %></h5>
  </div>


  <% @meaning.each do |i| %>
    <div class="meaning-box" id="<%= i.word_id %>">
      <%= i.meaning %>
    </div>
  <% end %>

</div>


<script>
  $(".pinyin-box").click ( function(e) {
    console.log(e.target.id)
  })
  $(".meaning-box").click ( function(e) {
    console.log(e.target.id)
  })



</script>
